:root {
  --white: #dcdcdc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #494949;
}

a {
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid var(--white);
  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}

li {
  margin: 6px 0;
}

li,
a,
span,
p {
  line-height: 1.6rem;
  font-size: 18px;
}
