.aside {
    position: relative;
    width: 20%;

    a {
        border-bottom: none;
        color: var(--white);
    }

    .wrapper {
        position: fixed;
        margin-left: 20px;
        margin-top: 40px;
    
        h2 {
            margin: 0;
        }
    
        ul {
            margin-left: 0;
        }
    
        .title {
            margin-top: 20px;
            font-size: 20px;
        }
    
        .subTitle {
            margin-left: 10px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
}