.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #080d19;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 600px) {
        display: none;
    }

    .close {
        text-align: end;
        font-size: 26px;
    }

    .listWrapper {
        flex: 1;

        .list {
            list-style-type: none;
    
    
            li {
                display: flex;
                justify-content: end;
                margin-top: 10px;
    
                a {
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 120%;
                    color: var(--white);
                    border-bottom: none;
                }
            }
        }
    }
}