.global {
    width: 100vw;
    font-family: sans-serif;
    color: var(--white);

    .main {

        main {
            display: flex;
        }

        .content {
            width: 60%;
        }
    }
}